{% extends "base.html.twig" %}

{% block title %}Category{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    {% for article in articles %}
    <div>
        <h2>{{ article.id }}) Real article s title : {{ article.title }}</h2>
        <h3>Category : {{ article.category.name }}</h3>
        <p>{{ article.content }}</p>
    </div>
    {% endfor %}
    <a href="{{ path('app_index') }}">Retour à l'accueil</a>
    <br>
    <a href="{{ path('blog_index') }}">Afficher les Articles</a>
    <br>
    <a href="{{ path('blog_list', {'page':1}) }}">Afficher les listes</a>
    <br>
    <a href="{{ path('blog_show', { 'slug': "javascript-vs-php" }) }}">Afficher un slug</a>
{% endblock %}